# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
media/
staticfiles/
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db